{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
   <div class="media">
     <img class="rounded-circle account-img" src="{{ request.user.profile.photo.url }}">
     <div class="media-body">
       <h2 class="account-heading">{{ request.user.username }}</h2>
       <p class="text-secondary">{{ request.user.email }}</p>
     </div>
   </div>

   <div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ uu_form|crispy }}
            {{ pu_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update Profile</button>
        </div>
    </form>
   
</div>
 </div>
{% endblock content %}